*.c   eol=lf
*.cpp eol=lf
*.h   eol=lf
*.sc  eol=lf
*.sh  eol=lf
*.m   eol=lf
*.mm  eol=lf
*.md  eol=lf
*.lua eol=lf
*.mk  eol=lf
makefile eol=lf

/examples/0* export-ignore
/examples/1* export-ignore
/examples/2* export-ignore
/examples/3* export-ignore
/examples/assets export-ignore
/examples/assets export-ignore
/examples/runtime export-ignore
